.students-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}


.students-table td {
    width: 20%;
    border: 1px solid gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 2;
}

.table-Head,
tr {
    background-color: violet;
    color: black;
    border: 1px solid gray;
    line-height: 2;
    text-align: left;
}